.table tbody tr:hover {
    background-color: black;
    color: white;
}
.table tbody tr:hover a{
    color: white;
}

.card input:focus {
    border: 1px solid black;
    outline: none;
}

.card .custom .row {
    height: 25px;
}

.card .row input {
    white-space: nowrap;
}

.orderStatus {
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 3px;
}

.orderStatus img {
    width: 25px;
    height: 25px;
}

.additionalOptionsForOrderOnList {
    display: none;
    background-color: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
}

.additionalOptionsForOrderOnList td {
    border: 0;
}

.additionalOptionsForOrderOnList td:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.additionalOptionsForOrderOnList td:hover a{
    color: black !important;
}

.OrderLineFromList {
    position: relative;
}

#orderOverviewHeader {
    margin-bottom: 10px;
}

.addressFormCard {
    z-index: -1;
    position: relative;
}

.statusList {
    z-index: 2 !important;
    position: relative;
    display: none;
    border: 1px solid black;
    background: white;
}

.statusList ul li {
    list-style: none;
    padding: 1px 4px;
}

.statusList ul li:hover {
    background-color: black;
    color: white;
}

.statusList ul {
    padding: 4px;
    margin: 0;
}

.orderStatus.failed {
    background-color: #ffadad !important;
}

.orderStatus.completed {
    background-color: #caffbf !important;
}

.orderStatus.new {
    background-color: #9bf6ff !important;
}

.orderStatus.pending {
    background-color: #fdffb6 !important;
}

.orderStatus.paid {
    background-color: #ffd6a5 !important;
}

.orderStatus.cancelled {
    background-color: #ffc6ff !important;
}

#orderOverviewHeader {
    height: 30px;
    font-size: 15px;
}


#orderOverviewHeader .col-2 {
    margin-left: 10px;
}

.orderLinesCardImg {
    width: 100px;
    height: 100px;
}

a {
    text-underline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

