.table tbody tr:hover {
    background-color: black;
    color: white;
}

table tbody tr:hover a {
    color: white;
}

.card input:focus{
    border: 1px solid black;
    outline: none;
}
.card .custom .row{
    height: 25px;
}
.card .row input{
    white-space: nowrap;
}

.orderStatus {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-left: 7px;
    padding: 5px;
}

.orderStatus.failed {
    background-color: #ffadad !important;
}

.orderStatus.completed {
    background-color: #caffbf !important;
}

.orderStatus.new {
    background-color: #9bf6ff !important;
}

.orderStatus.pending {
    background-color: #fdffb6 !important;
}

.orderStatus.paid {
    background-color: #ffd6a5 !important;
}

.orderStatus.cancelled {
    background-color: #ffc6ff !important;
}

#orderOverviewHeader {
    height: 30px;
    font-size: 15px;
}

#orderOverviewHeader .row {
    margin-top: 10px;
}

#orderOverviewHeader .col-2 {
    margin-left: 10px;
}

.orderLinesCardImg {
    width: 100px;
    height: 100px;
}

a {
    text-underline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

